.header{
    background-color: rgb(0, 0, 78);
    color: aliceblue;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}
.menu{
    display: flex;
   width: 350px;
   justify-content: space-between;
 
    
}
.menu a{
    text-decoration: none;
    color: aliceblue;
}
.menu a:hover{
    color: orange;
}
.logo{
    margin-left: 25px;
}