.header{
    background-color: rgb(47, 14, 21);
    color: aliceblue;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}
.menu{
    display: flex;
   width: 350px;
   justify-content: space-between;
 
    
}
.menu a{
    text-decoration: none;
    color: aliceblue;
}
.menu a:hover{
    color: orange;
}
.logo{
    margin-left: 25px;
}
.header a{
    text-decoration: none;
    color: aliceblue;
    margin-right: 10px;
}
img{
    margin-right: 10px;
   background-color: orange;
   padding: 5px;
}